:root {
    --logo-color: #ef2666;
    --bg-color: #ffe6e3;

    /* Кнопка для начала игры */
    --start-btn-color: #ff417e;
    --start-btn-color-hover: #dd2761;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    max-width: 1728px;
    height: 100dvh;
    background-color: var(--bg-color);
}

#start-game-button {
    background-color: var(--start-btn-color);
    color: white;
    
    &:hover {
        background-color: var(--start-btn-color-hover);
    }
}

#logo {
    font-size: 5vmin;
    color: var(--logo-color);
    cursor: pointer;
}

#tic-tac-toe-img {
    width: 26vmin;
    height: auto;
}