html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: "Signika", sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}


* {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -transition: all 0.2s;
}

:root {
    --logo-color: #ef2666;
    --text-color: #ff719e;
    --bg-color: #ffe6e3;
}

.dm-serif-display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 600;
    font-style: normal;
}

h1 {
    color: var(--text-color);
}

.buttons {
    width: 15vmin;
    height: auto;
    font-size: 3vmin;
    text-align: center;
    border: none;
    border-radius: 10px;
    padding: 0.8vmin;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
}